html {
  scroll-behavior: smooth;
}
/* Hero Section Styles */
.hero-section {
  text-align: center;
  margin-top: 2rem;
}

/* Hero Image Container Styles */
.hero-image-container {
  width: 100%;
  max-width: 1200px;  /* Limit the width of the container */
  height: 400px;      /* Set a fixed height for the image container */
  margin: 0 auto;     /* Center the container horizontally */
  overflow: hidden;   /* Hide overflow in case the image exceeds the container size */
}

/* Hero Image Styling */
.hero-image {
  width: 100%;         /* Ensure the image fills the container's width */
  height: 100%;        /* Ensure the image fills the container's height */
  object-fit: cover;   /* Ensure the image covers the box without distortion */
}
